body {
    transition: background-color 0.5s ease-in-out;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 50px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    width: 80%;
    margin-bottom: 20px;
}